@font-face {
  font-family: "sansRegular";
  src: url(./fonts/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: "sansMedium";
  src: url(./fonts/NotoSansKR-Medium.ttf);
}
@font-face {
  font-family: "sansBold";
  src: url(./fonts/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: "anboRegular";
  src: url(./fonts/PTAnbo-Regular.ttf);
}
@font-face {
  font-family: "bandoRegular";
  src: url(./fonts/PTBando-Regular.ttf);
}
@font-face {
  font-family: "bandoBold";
  src: url(./fonts/PTBando-Bold.ttf);
}

:root {
  --font-sansRegular: "sansRegular";
  --font-sansMedium: "sansMedium";
  --font-sansBold: "sansBold";
  --font-anboRegular: "anboRegular";
  --font-bandoRegular: "bandoRegular";
  --font-bandoBold: "bandoBold";
}


body {
  margin: 0;
  font-family: "sansRegular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
